.searchInput {
  padding: 28px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  font-family: 'SF Pro Text';
}
/* .searchInput input {
  padding: 19px 15px;
} */
.searchInput input {
  padding-left: 10px;
}
.searchInput input:focus {
  box-shadow: none;
  border: 2px solid var(--yellowish-color);
}
.searchButton {
  background: var(--yellowish-color) !important;
  color: white !important;
  padding: 0px 28px;
  border-color: var(--yellowish-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.searchButton span {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.searchButton:hover {
  background: var(--yellowish-color) !important;
  color: white !important;
  border-color: var(--yellowish-color) !important;
}
.input-group {
  width: 398px;
}
@media (max-width: 1100px) {
  .input-group {
    width: auto;
  }
}
