
.carouselFlex {
    display: flex;
}
.carouselItems {
    padding: 50px 30px;
}
.menuCarousel {
    color: white;
    background-color: var(--greenish-color) ;
}
.carouselItems img {
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
}
.carouselFlex h5 {
    margin-top: 20px;
}
.orderNowBtn{
    background-color: var(--yellowish-color) !important;
    color: white;
    padding: 7px 40px;
    border-color: var(--yellowish-color);
    border-radius: 20px;
    margin-bottom: 30px;
}
.popularDishesHeading {
    margin-top: 50px;
    margin-bottom: 50px;
}
.cardMarginBottom {
    margin-bottom: 30px;
}