.HomeKitchenMain {
  background: #f7f8fa;
  padding-top: 105px;
  padding-bottom: 50px;
}
.HomeKitchenTitle {
  font-size: 24px;
  line-height: 24px;
  font-family: 'Gilroy-Medium';
  letter-spacing: -0.012em;
  color: #000000;
  margin-bottom: 16px;
}

.AllHomeKitchen {
  text-align: left;
}
.buttonMargin {
  margin-top: 32px;
  padding: 13px 19px;
  border-radius: 10px;
  width: 251px;
  margin-bottom: 20px;
  font-family: 'SF Pro Text';
  color: #929292;
  border: 1px solid #929292;
}
/* .buttonMargin * {
  border-radius: 80px;
  background-color: var(--yellowish-color) ;
  color: white;
} */

.buttonMargin:focus {
  border: 3px solid var(--yellowish-color) !important;
  box-shadow: none !important;
}
.cardMarginBottom {
  margin-bottom: 40px;
}
.card1234 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.card5678 {
  display: flex;
  justify-content: space-between;
}
