.productCategory {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid var(--greenish-color);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    gap: 10px;
  transition: transform 0.5s;

    /* background-color: var(--yellowish-color); */
}
.productCategory:hover {
  transform: scale(0.9);
}
.productCategoryImage img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
/* .productCategoryImage {
    margin: auto;
} */

.allProductCategories{
    display: flex;
    justify-content: space-between;
}
.allProductCategoriesTwo {
    display: block;
    /* background-color: var(--yellowish-color); */

}
.productCategorName {
    margin: auto 0;
}
.showCategories{
    display: none;
  }
  @media(max-width:768px){
    .showCategories{
      display: block;
      /* width: 100%; */
      background-color: var(--yellowish-color);
      border: none;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 20px;
    }
    .allProductCategories img{
        width: 35px;
        height: 35px;
    }
    .productCategorName {
      display: none;
    }
  }