.headerMain {
    background-color: #1AC073;
}
.navBrand {
  font-family: 'Squada One', cursive !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 32px !important;
  line-height: 20px !important;
  color: white !important;

}
.navbar-nav {
  gap: 40px !important;
  
}
.navContainer {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
/* .headerMain .navbar {
  padding: 0.5rem 0rem !important;
} */
/* .navbar {
  padding: 8px 45px 8px 131px !important;
} */
.nav-link {
  color: white !important;
  font-family: 'SF Pro Text' !important;
}
button.navbar-toggler {
  order: 2;
}
.navbar-light .navbar-toggler-icon {
  background: url('../images/menuBtn.png') !important;
}
button.navbar-toggler.collapsed {
  border: none !important;
}
.navbar-toggler path {
  color: white;
}

li.nav-item {
  padding-right: 40px;
}
.navlinks {
  justify-content: center;
  font-weight: 400;
font-size: 18px;
line-height: 20px;
}
.searchShopIcon1 {
  margin-left: 25px;
  margin-top: 10px;
}
.searchShopIcon {
  padding: 0px;
}
/* .navbar-nav li{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: white;
} */
.searchShopIcon {
  list-style-type: none;
display: flex;
color: white;
}
.searchShopIcon path {
  color:white
}
@media (max-width:375px) {
  .searchShopIcon1 {
    margin-right: 0px;
  }
}
