.myCardBody .card-text {
  font-family: 'SF Pro Text' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  letter-spacing: -0.012em !important;
  color: #1b1c21 !important;
}
.card h5 {
  color: black;
  font-size: 15px;
}
.cardImage {
  cursor: pointer;
  transition: transform 1s;
  height: 259px;
}
.addBoxIcon path:hover {
  color: var(--greenish-color);
}
.starIcon path:hover {
  color: var(--yellowish-color);
}
.cardImage:hover {
  transform: scale(0.9);
}

.cardBodyHead {
  display: flex;
  justify-content: space-between;
}
.myCardBody a {
  text-decoration: none !important;
}
/* .card {
    width: 100%;
    height: 337px;
} */
.rating {
  /* display: flex;
  justify-content: space-between; */
  font-family: 'SF Pro Text';
}
.esimatedTime button {
  text-transform: capitalize;
}
.buttonRate {
  width: 100%;
  font-family: 'SF Pro Text';
}
.buttonRate button {
  font-family: 'SF Pro Text';
  color: black;
  border: none;
  background-color: #f7f8fa;
  font-size: 12px;
  padding: 4px 4px;
  width: 100%;
  border-radius: 5px;
}
.addIcon path {
  color: var(--yellowish-color);
}
.addIcon {
  cursor: pointer;
}
.card {
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
}
.card:hover {
  text-decoration: none;
}
.inputGroup {
  display: flex;
  width: 100%;
  background-color: var(--yellowish-color);
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px
}
.inputGroup button {
  width: 30%;
  background-color: var(--yellowish-color);
}
.inputGroup imput {
  width: 70%;
}
