.inputGroup {
    display: grid;
    padding: 5px;
    margin: 0px;
}
.inputGroup button {
    width: 30px;
    border: none;
    text-align: center;
}
.increseBtn {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.dicreseecreBtn {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.inputGroup input {
    width: 30px;
    border: none;
    text-align: center;

}