.App {
  text-align: center;
}
@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text'), url('./Fonts/FontsFree-Net-SFProText-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url('./Fonts/Gilroy-Medium.ttf') format('truetype');
}
.blur {
  filter: blur(2px);
  position: fixed;
  width: 100%;
}
