.productsOfCart,
.subTotal,
.tax,
.shipping,
.grandTotal {
  display: flex;
  justify-content: space-between;
}
.mainCheckOut {
  margin-top: 50px;
  margin-bottom: 50px;
}
.productsOfCart {
  margin-bottom: 5px;
}
.payableAmountAll {
  margin-top: 5px;
}
.paymentMethod {
  margin-top: 20px;
  margin-bottom: 20px;
}
.shipping {
  margin-bottom: 15px;
}
.grandTotal {
  margin-top: 10px;
  margin-bottom: 10px;
}
.cartPageRight h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.subTotal,
.tax {
  margin-bottom: 5px;
}
.contactFormInputs input {
  padding: 25px 10px;
}
.formInput:focus {
  box-shadow: none !important;
}
.focusTextArea:focus {
  border: 2px solid var(--greenish-color) !important;
  box-shadow: none !important;
}
.contactSubmitBtn {
  background-color: var(--greenish-color) !important;
  border-color: var(--greenish-color) !important;
  margin-top: 40px !important;
  color: white !important;
  padding: 10px 20px !important;
  border-radius: 30px !important;
  width: 100%;
}
.contactSubmitBtn:hover {
  background-color: var(--yellowish-color) !important;
  border-color: var(--yellowish-color) !important;
}
.paymentMethod select:focus {
  box-shadow: none !important;
}
.paymentMethod select{
  width: 100%;
  padding: 10px 5px;
}
.continueShoppingBtn {
  text-decoration: none;
  border: 1px solid var(--yellowish-color);
  color: white;
  padding: 3% 30%;
  background-color: var(--yellowish-color);
  border-radius: 10px;
}
.continueShoppingBtn:hover {
  text-decoration: none;
  color: black;
}
@media (max-width:991px) {
  .cartPageLeft {
    order: 2;
  }
  .cartPageLeft {
    margin-top: 40px;
  }
}
