.photoGalleryCollumns img {
  height: 130px;
  width: 150px;
  cursor: pointer;
  display: block;
}
.mainProductImage {
  display: flex;
  align-items: center;
}
.mainProductImage img {
  height: 380px;
  transition: transform 1s;
}
.allPhotos {
  display: flex;
}
@media (max-width: 995px) {
  .photoGalleryCollumns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .allPhotos {
    display: block;
  }
  .mainProductImage {
    order: 1;
    justify-content: center;
  }
}
.mainProductImage img:hover {
  transform: scale(0.9);
}
@media (max-width: 426px) {
  .photoGalleryCollumns img {
    width: 80px;
  }
  .mainProductImage img {
    height: 200px;
  }
}
